[submodule "pack/plugins/opt/nim.vim"]
	path = pack/plugins/opt/nim.vim
	url = https://github.com/zah/nim.vim.git
[submodule "pack/plugins/opt/rust.vim"]
	path = pack/plugins/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pack/plugins/opt/vim-packager"]
	path = pack/plugins/opt/vim-packager
	url = git@github.com:kristijanhusak/vim-packager.git
