pack
tags
cscope.*
node_modules
*packer_compiled*
langservers/.yarn/*
lazy-lock.json
!langservers/.yarn/patches
!langservers/.yarn/releases
!langservers/.yarn/plugins
!langservers/.yarn/sdks
!langservers/.yarn/versions
.DS_Store
.aider*
